.all-users-box
{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.head-box{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 22px;
}

@media only screen and (max-width:769px){
    .all-users-box{
        display: inline-block;
    }
}